<!DOCTYPE html>
<html>
<head>

<meta http-equiv="context-type" content="text/html" charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/{{ mobile }}main.css">

<title>About airtrack</title>

</head>

<body>

<h1><a href="/"><font color="DimGray">airtrack的博客</font></a></h1>
<a href="/"><font color="CornflowerBlue">HOME</font></a>
&nbsp; &nbsp; &nbsp; &nbsp;
<a href="/about.html"><font color="CornflowerBlue">ABOUT</font></a>
<hr>

<ul>
    <li>邮箱: airtrack.sk(at)gmail(dot)com</li>
    <li>GitHub:<a href="https://github.com/airtrack" target="_blank"> github.com/airtrack</a></li>
    <li>微博:<a href="http://weibo.com/u/2258096562" target="_blank"> @airtrack</a></li>
    <li>知乎:<a href="http://www.zhihu.com/people/airtrack" target="_blank"> @airtrack</a></li>
    <li>熟悉 C++/Rust/Golang</li>
</ul>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'airtrack-blog';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
var disqus_shortname = 'airtrack-blog';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>

</html>
